body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  color: #666666;
}

p, h1, ul, h2 {
  margin: 0;
}

header {
  border-top: 5px solid #0E36CA;
  color: #0E36CA;
}

header h1 {
  margin: 0;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
  padding-left: 26px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
  border: 1px solid #D2D2D2;
}

nav ul li a {
  text-decoration: none;
  display: inline;
  text-align: center;
}

.ja {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 12px 0 0;
  position: relative;

  transition: color .5s;
}

.en {
  color: #C0BAC0;
  font-size: 12px;
  margin: 0;
  padding: 0 0 12px;
}

header img {
  width: 100%
}

nav ul li:hover {
  background: #E6EBFA;
}

nav ul li:hover .ja::before {
  content: "";
  display: block;
  width: 3px;
  height: 40px;
  left: 6px;
  background: #0e36ca;
  position: absolute;
}

nav ul li:hover .ja {
  color: #0e36ca;
}

.mainaside {
  display: flex;
}

main {
  flex: 7;
}

aside {
  flex: 3;
}

main h1 {
  background: #103BDC;
  font-weight: normal;
  color: white;
  font-size: 18px;
  line-height: 45px;
  border-radius: 5px;
  padding-left: 7%;
  margin: 15px 0 15px 25px;
  position: relative;
}

main h1::before {
  content: "";
  width: 3px;
  height: 60%;
  background: #889EEF;
  position: absolute;
  left: 20px;
  top: 20%;
}

.date {
  color:  #103BDC;
  padding-right: 30px;
}

.log {
  margin: 20px 0 70px 0;
}

.start a, .company a {
  transition: color .5s;
}

.start a:hover, .company a:hover, .back, .link a:hover, .contact a:hover {
  text-decoration: none;
  color: #103BDC;
}

.news ul li {
  display: flex;
  line-height: 2;
  border-bottom: 1px solid #C0BAC0;
}

.new p {
  margin: 0;
}

.new p::after {
  content: "NEW";
  display: inline-block;
  width: 10%;
  line-height: 200%;
  color: white;
  background: red;
  position: relative;
  top: -5px;
  font-size: 11px;
  text-align: center;
  border-radius: 2px;
}

.news a, .log {
  color: #666666;
  text-align: end;
}

main h2 {
  font-weight: normal;
  background: linear-gradient(white, #EFEFEF);
  line-height: 45px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px;
  margin: 15px 0 15px 25px;
  border: 1px solid #CCCCCC;
}

.pad, .company h3 {
  padding:0 20px 0 40px;
  line-height: 2;
}

main h3, .pad p {
  margin: 0;
}

.pad p {
  padding-bottom: 20px;
}

main h3 {
  font-size: medium;
  color: red;
}

.pad a {
  color:#666666;
}

.red {
  color: red;
}

.pad .mar {
  margin-bottom: 50px;
}

footer {
  text-align: center;
  background: #103BDC;
  color: white;
  font-size: 13px;
  line-height: 2.0;
  padding: 11px 0;
}

footer a {
  text-decoration: none;
  color: white;

  transition: color .5s;
}

footer a:hover {
  color: #103BDC;
}

aside img {
  width: 30px;
  height: 20px;
  float: left;
  padding-right: 5px;
}

aside div {
  margin: 20px 30px 0 30px;
}

aside h1 {
  font-size: 16px;
  background: #EEEEEE;
  padding:20px 0 20px 10px;
  border-top: 5px solid #103BDC;
}

aside ul {
  list-style: none;
  padding: 0;
}

.men li a {
  text-decoration: none;
  color: #666666;
  display: block;
  border-bottom:  #CCCCCC 1px solid;
  padding: 8px 0 8px 15px;

  transition: color .5s, background .5s;
}

.men li a:hover {
  color: #103BDC;
  background: white;
}

.asi h2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  color: #103BDC;

}

.asi p {
  font-size: 12px;
  line-height: 1.1;
  color: #666666;

  transition: color .5s;
}

.asi a {
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  border-bottom: #CCCCCC 1px solid;
  display: inline-block;

  transition: background .5s;
}

.asi li a {
  height: auto;
}

.asi a:hover {
  background: white;
}

.asi a:hover p {
  color: #103BDC;
}

.une {
  margin-bottom: 50px;
}

.une p {
  text-align: center;
  font-size: 12px;
  padding: 0 10px;
}

.une p span {
  font-weight: bold;
  line-height: 2;
  font-size: 16px;
}

aside div:nth-child(odd) {
  padding: 10px;
  border: #CCCCCC 1px solid;
  background: linear-gradient(white, #EFEFEF);
}

main table {
  line-height: 40px;
  font-size: 16px;
  margin-left: 25px;
  width: 95%;
}

main th {
  width: 30%;
  font-weight: normal;
}

main td {
  width: 70%;
  padding: 0 10px;
}

tr a {
  color: #666666;
}

.company p, .service p {
  line-height: 2;
  padding: 0 20px 10px 40px;
}

.company1 {
  margin-top: 20px;
}

.company2 {
  margin-bottom: 50px;
}

.gray {
  background: #CCCCCC;
  padding: 5px;
  border-radius: 3px;
}

.company a, .contact a {
  color: #666666;
}

.service article img {
  width: 30%;
  vertical-align: middle;
  float: left;
  padding-right: 10px;
}

.service ul {
  list-style: none;
  padding-left: 20px;
}

article a {
  display: block;
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

article a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(#FFFFFF, #EEEEEE);
  transition: 0.5s;
}

article a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background: white;
}

article a:hover::before {
  opacity: 0;
}


.service article p {
  padding: 0;
  margin: 0;
  color: #666666;

  transition: color .5s;
}

article h4, article h5 {
  margin: 0;
  color: #103BDC;
  padding-bottom: 5px;
  font-weight: normal;
}

article a:hover p {
  color: #103BDC;
}

article h4::after {
  content: "→";
  position: absolute;
  background: #7E7E7E;
  top: 20px;
  right: 20px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  border-radius: 3px;
}

article a:hover h4::after {
  background: black;
}

.none {
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(#FFFFFF, #EEEEEE);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 95%;
  margin-left: 25px;
}

.back {
  padding-left: 50px;
  color: #666666;
}

article h5 {
  font-size: 16px;
}

.recrit table, .link table {
  line-height: 3;
  margin-bottom: 25px;
}

.link > p {
  padding: 0 0 20px 45px;
}

.link a {
  transition: color .5s
}

.contact p {
  padding: 0 10px 0 45px;
  line-height: 2;
}

.contact h3 {
  padding: 20px 10px 0 45px;
  line-height: 2;
}

.contact table {
  margin: 0 10px 0 45px;
  width: calc( 100% - 55px);
}

textarea {
  width: 80%;
  height: 130px;
  margin-top: 10px;
}

.contact td input {
  width: 80%;
}

button {
  line-height: 2;
  font-size: 15px;
  background: linear-gradient(#FFFFFF, #EEEEEE);
  border: 1px #CCCCCC solid;
  margin-bottom: 15px;
}

.button {
  text-align: center;
  margin-top: 20px;;
}

button:hover {
  background: white;
}

.to {
  position: fixed;
  bottom: 90px;
  right: 35px;
}

.to a {
  display: block;
  text-decoration: none;
  color: white;
  background: hsla(0, 0%, 10%, 0.6);
  width: 50px;
  line-height: 50px;
  text-align: center;

  transition: opacity .5s;
}

.to a:hover {
  opacity: 0.6;
}



@media (min-width:1200px){
  body {
    width: 1200px;
    margin: 0 auto;
    background: white;
  }

  html {
    background: hsla(0, 0%, 70%, 0.6);
  }
}

@media(min-width:800px){
  .hum {
    display: none;
    opacity: 0;
  }
}

@media (max-width:800px){
  header nav {
    display: none;
  }

  .mainaside {
    display: block;
  }

  main {
    margin-right: 20px;
  }

  .asi img {
    width: 20%;
    height: 20%;
  }

  .menu, .menu span {
    display: inline-block;
    box-sizing: border-box;
  }
  
  .menu {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: white;
    top: 25px;
    right: 20px;
  }
  
  .menu span {
    position: absolute;
    left: 9px;
    width: 30px;
    height: 4px;
    background: black;
  }
  
  .menu span:nth-last-of-type(1){
    top: 12px;
  }
  
  .menu span:nth-last-of-type(2){
    top: 22px;
  }
  
  .menu span {
    bottom: 13px;
  }
  
  .opacity {
    position: absolute;
    top: 105px;
    z-index: 1;
    width: 100%;
    display: none;
    opacity: 0;
  }
  
  .opacity a {
    display: block;
    background: hsla(0, 0%, 10%, 0.9);
    color: white;
    height: 95px;
    padding-left: 20px;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  
  .opacity h2 {
    font-weight: normal;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .opacity p {
    font-size: 12px;
    padding-top: 5px;
  }
  
  #disp-btn:checked ~ .opacity {
    display: block;
    opacity: 1;
  }
  
  .hum input {
    display: none;
  }
}

@media screen and (max-width:480px){
  body {
    font-size: medium;
  }

  header h1 {
    font-size: 150%;
    padding-left: 10px;
  }

  main h1 {
    font-size: 100%;
    line-height: 2;
    padding-left: 10%;
  }

  main h2 {
    font-size: 100%;
    line-height: 2;
  }

  main p, main h3 {
    font-size: 80%;
    line-height: 1.2;
  }

  .news ul li {
    font-size: 75%;
    line-height: 1.7;
  }

  .new p::after {
    content: "NEW";
    display: inline-block;
    width: 20%;
    line-height: 150%;
    color: white;
    background: red;
    position: relative;
    top: 0px;
    font-size: 75%;
    text-align: center;
    border-radius: 2px;
  }

  .red, main h2 {
    line-height: 1.6;
  }

  table th, main td {
    font-size: 75%;
    line-height: 2;
  }

  .contact textarea {
    width: 80%;
  }
}